@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.paginate li {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
        border: none;
    }


    &:last-child {
        border: none;
    }

    &.selected {
        background: rgba(131, 131, 131, 0.533);
        color: #fff;
        font-weight: bold;
    }
}